<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.midea.isc.api.mapper.ViewLayoutMapper">
	<delete id="deleteByViewId" parameterType="int">
		delete from app_view_layout where view_id = #{viewId}
	</delete>
</mapper>