<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<!--application.yml 传递参数，不能使用logback 自带的<property>标签 -->
	<springProperty scope="context" name="appname"
		source="spring.application.name" />
	<property name="logdir" value="${LOG_PATH:-.}"></property>
	<contextName>${appname}</contextName>
	<!--输出到控制台 ConsoleAppender -->
	<appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
		<!--展示格式 layout -->
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				<pattern>%date [%level] [%thread] %logger{60} [%file : %line] %msg%n
				</pattern>
			</pattern>
		</layout>
	</appender>

	<appender name="fileLog"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--日志名称，如果没有File 属性，那么只会使用FileNamePattern的文件路径规则 如果同时有<File>和<FileNamePattern>，那么当天日志是<File>，明天会自动把今天 
			的日志改名为今天的日期。即，<File> 的日志都是当天的。 -->
		<File>${logdir}/${appname}.log</File>
		<!--滚动策略，按照时间滚动 TimeBasedRollingPolicy -->
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!--文件路径,定义了日志的切分方式——把每一天的日志归档到一个文件中,以防止日志填满整个磁盘空间 -->
			<FileNamePattern>${logdir}/${appname}.%d{yyyy-MM-dd}.log
			</FileNamePattern>
			<!--只保留最近90天的日志 -->
			<maxHistory>90</maxHistory>
			<!--用来指定日志文件的上限大小，那么到了这个值，就会删除旧的日志 -->
			<totalSizeCap>500MB</totalSizeCap>
		</rollingPolicy>
		<!--日志输出编码格式化 -->
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%date [%level] [%thread] %logger{60} [%file : %line] %msg%n
			</pattern>
		</encoder>
	</appender>
	<!-- loger配置,范围有重叠的话，范围小的，有效。 -->
	<!-- 测试环境+开发环境. 多个使用逗号隔开. -->
	<springProfile name="dev,sit,uat">
		<logger name="com.midea.isc.attachment" level="DEBUG">
		</logger>
	</springProfile>
	<!-- 生产环境. -->
	<springProfile name="pro">
		<logger name="com.midea.isc.attachment" level="INFO">
		</logger>
	</springProfile>

	<!-- 针对DAO的包进行全环境DEBUG日志设置输出SQL -->
	<logger name="com.midea.isc.attachment.mapper" level="DEBUG" />

	<root level="INFO">
		<appender-ref ref="consoleLog" />
		<appender-ref ref="fileLog" />
	</root>

</configuration>